$black: #1e1e1e;
$white: #F5F5F5;
$lightBlue: #0066ff;
$transBlue: #e4efff;
$muted: #898d8f;
$light: #dadcd6;
$second-light: #e6e9eb;
$lightOrange: hsl(38, 100%, 96%);
$sidebar-width: 300px;
$textBlack: #0f1a2a;
$all-transition: all 0.5s ease;
$alertGreen: #169e00;
$alertRed: #ff5367;
$primary: #6d37ff;
$hspan: #ffcf00;
// CUSTOM THEME
$theme-colors: ( "primary": $primary, "black": $black, "white": $white, "muted": $muted, "light": $light, "lightBlue": $lightBlue, "transBlue": $transBlue, "lightOrange": $lightOrange, "alertGreen": $alertGreen, "alertRed": $alertRed, "hspan": $hspan, );
// Grid breakpoints
$grid-breakpoints: ( xs: 0, sm: 576px, // sm: 385px,
md: 768px, lg: 992px, xl: 1200px, xxl: 1440px, ) !default;
// Grid containers
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1200px, ) !default;
// Spacing
$spacer: 1rem;
$spacers: ( 0: 0, 1: $spacer * 0.25, 2: $spacer * 0.5, 3: $spacer, 4: $spacer * 1.5, 5: $spacer * 3, 6: $spacer * 4, );
// $negative-spacers: if($enable-negative-margins, negativify-map($spacers), null);
// == My Variables ==
// $h2-font-size: 36px !important;
// $h3-font-size: 24px !important;
$mobile-h1: 3rem;
$mobile-h2: 1.8rem;
$mobile-h3: 1.25rem;
$mobile-h4: 0.9rem;
$mobile-p: 0.9rem;
$mobile-lh: 1.2;
$mobile-lh-md: 1.5;